{% extends "base.html" %}
{% load static %}
{% block content %}
  {% if user.usuario.tipo_usuario == 'arrendador' %}
    <!-- Contenido para arrendador -->
    <div class="text-center">
      <h3>Mi Perfil - Arrendador</h3>
      <div class="my-profile">
        <p><strong>Nombre:</strong> {{ user.usuario.nombres }} {{ user.usuario.apellidos }}</p>
        <p><strong>Email:</strong> {{ user.usuario.correo_electronico }}</p>
        <p><strong>Teléfono:</strong> {{ user.usuario.telefono }}</p>
        <p><strong>Dirección:</strong> {{ user.usuario.direccion }}</p>
        <!-- Añadir más campos si es necesario -->
      </div>
      <p><a href="{% url 'perfil_usuario' %}" class="btn btn-primary">Editar mi Perfil</a></p>
    </div>
    <h2>Solicitudes Recibidas</h2>
    <section class="container mx-auto pt-5 text-center">
      <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-4">
        {% for solicitud in solicitudes_recibidas %}
          <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">{{solicitud.estado}}</div>
            <div class="card-body">
              <h5 class="card-title">{{ solicitud }}</h5>
              <p>{{solicitud.mensaje}}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </section>
    <h2>Mis Inmuebles Disponibles</h2>
    <section class="container mx-auto pt-5">
      <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-4">
        {% for inm in inmuebles_propios %}
          <div class="col">
            <div class="card h-100">
              <img class="card-img-top" src="/media/{{inm.imagen}}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{ inm.name }}</h5>
                <p class="card-text text-justify">
                  {% if inm.descripcion|length > 100 %}
                    {{ inm.descripcion|slice:":100" }}... <a href="{% url 'detalle' inm.id %}">más info</a>
                  {% else %}
                    {{ inm.descripcion }}
                  {% endif %}
                </p>
              </div>
              <div class="card-footer">
                <a href="{% url 'detalle' inm.id %}">Detalle del inmueble</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </section>
  {% else %}
    <p>No tienes permiso para ver esta página.</p>
  {% endif %}
{% endblock %}
