{% extends 'base.html' %}

{% block title %}Detalle del Inmueble{% endblock %}
{% load static %}
{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <img class="card-img-top img-fluid" src="{% if inmueble.imagen %}{{ inmueble.imagen.url }}{% else %}{% static 'images/default-image.jpg' %}{% endif %}" alt="Imagen de {{ inmueble.nombre }}">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ inmueble.nombre }}</h5>
                    <p class="card-text">{{ inmueble.descripcion }}</p>
                    <p>{{ inmueble.comuna }}</p>
                    {% if user.usuario.tipo_usuario == 'arrendatario' %}
                    <a href="{% url 'generar_solicitud_arriendo' inmueble.id %}" class="btn btn-primary">Generar Solicitud de Arriendo</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
