{% extends 'base.html' %}

{% block title %}Página de Inicio{% endblock %}
{% load static %}
{% block content %}
<div class="container mt-4">
    <h1 class="mb-4 text-center">Solicitudes Recibidas</h1>
    <ul class="solicitud-list">
        {% for solicitud in solicitudes %}
        <li class="solicitud-item">
            <p><strong>Arrendatario:</strong> {{ solicitud.arrendatario }}</p>
            <p><strong>Inmueble:</strong> {{ solicitud.inmueble }}</p>
            <p><strong>Mensaje:</strong> {{ solicitud.mensaje }}</p>
        </li>
        {% empty %}
        <li class="solicitud-item">No hay solicitudes recibidas.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

